<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>template</title>
	<link rel="stylesheet" href="template.css">
</head>
<body>
	
<h1>DOM Tree</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam harum earum esse recusandae ab, cumque dolor, distinctio dicta, natus iure sint. Similique eius vero, eaque. Quisquam fuga illo consequuntur in.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor minima, doloribus quas explicabo quam eligendi architecto. Deserunt aliquid ut ratione necessitatibus, quis maiores rerum quam laudantium commodi, dicta ipsa temporibus.</p>

	<script src="template.js"></script>
</body>
</html>